<div class="max-w-4xl mx-auto p-6 bg-white border border-gray-200 rounded-lg shadow mt-10">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10">

    <div>
      <h2 class="text-2xl font-semibold text-gray-700 mb-4">Datos Personales</h2>
      <form [formGroup]="formulario" (ngSubmit)="imprimirDatos()">

        <div class="mb-4">
          <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
          <input type="text" id="nombre" formControlName="nombre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        </div>
        <div class="mb-4">
          <label for="apaterno" class="block mb-2 text-sm font-medium text-gray-900">Apellido Paterno</label>
          <input type="text" id="apaterno" formControlName="apaterno" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        </div>
        <div class="mb-4">
          <label for="amaterno" class="block mb-2 text-sm font-medium text-gray-900">Apellido Materno</label>
          <input type="text" id="amaterno" formControlName="amaterno" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        </div>

        <div class="mb-4">
            <label class="block mb-2 text-sm font-medium text-gray-900">Fecha de nacimiento</label>
            <div class="grid grid-cols-3 gap-4">
                <div>
                    <input type="number" placeholder="Día" formControlName="dia" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
                </div>
                <div>
                    <input type="number" placeholder="Mes" formControlName="mes" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
                </div>
                <div>
                    <input type="number" placeholder="Año" formControlName="ano" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
                </div>
            </div>
        </div>

        <div class="mb-6">
            <label class="block mb-2 text-sm font-medium text-gray-900">Sexo</label>
            <div class="flex items-center">
                <div class="flex items-center me-4">
                    <input id="masculino" type="radio" value="Masculino" formControlName="sexo" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                    <label for="masculino" class="ms-2 text-sm font-medium text-gray-900">Masculino</label>
                </div>
                <div class="flex items-center">
                    <input id="femenino" type="radio" value="Femenino" formControlName="sexo" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                    <label for="femenino" class="ms-2 text-sm font-medium text-gray-900">Femenino</label>
                </div>
            </div>
        </div>
        
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">
          Resultado
        </button>
      </form>
    </div>

    <div class="flex items-center justify-center border-l border-gray-200 pl-10" *ngIf="mostrarResultados">
      <div class="text-center">
        <h2 class="text-3xl font-bold text-gray-800 mb-4">Holi {{ nombreCompleto }}</h2>
        <p class="text-xl text-gray-600 mb-4">Tu edad es de {{ edad }} años</p>
        <p class="text-xl text-gray-600 mb-4">y tu signo zodiacal</p>
        <div *ngIf="nombreSigno" class="flex flex-col items-center mt-4">
            <img [src]="fotoSigno" [alt]="nombreSigno" class="w-24 h-24 rounded-full mb-2 object-cover">
        <div *ngIf="nombreSigno" class="mt-4">
            <p class="text-2xl font-semibold text-gray-800">es {{ nombreSigno }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
